[Unit]
Description=Ceph Monitor
{% if container_binary == 'docker' %}
After=docker.service
Requires=docker.service
{% else %}
After=network.target
{% endif %}

[Service]
EnvironmentFile=-/etc/environment
{% if container_binary == 'podman' %}
ExecStartPre=-/usr/bin/rm -f /%t/%n-pid /%t/%n-cid
ExecStartPre=-/usr/bin/{{ container_binary }} rm --storage ceph-mon-%i
{% else %}
ExecStartPre=-/usr/bin/{{ container_binary }} stop ceph-mon-%i
{% endif %}
ExecStartPre=-/usr/bin/{{ container_binary }} rm ceph-mon-%i
ExecStartPre=/bin/sh -c '"$(command -v mkdir)" -p /etc/ceph /var/lib/ceph/mon'
ExecStart=/usr/bin/{{ container_binary }} run --rm --name ceph-mon-%i \
{% if container_binary == 'podman' %}
  -d --log-driver journald --conmon-pidfile /%t/%n-pid --cidfile /%t/%n-cid \
{% endif %}
  --memory={{ ceph_mon_docker_memory_limit }} \
  --cpus={{ ceph_mon_docker_cpu_limit }} \
  -v /var/lib/ceph:/var/lib/ceph:z,rshared \
  -v /etc/ceph:/etc/ceph:z \
  -v /var/run/ceph:/var/run/ceph:z \
  -v /etc/localtime:/etc/localtime:ro \
  -v /var/log/ceph:/var/log/ceph:z \
{% if ansible_distribution == 'RedHat' -%}
  -v /etc/pki/ca-trust/extracted:/etc/pki/ca-trust/extracted:z \
{% endif -%}
{% if mon_docker_privileged -%}
  --privileged \
{% endif -%}
{% if mon_docker_net_host -%}
  --net=host \
{% endif -%}
  -e IP_VERSION={{ ip_version[-1:] }} \
  -e MON_IP={{ _current_monitor_address }} \
  -e CLUSTER={{ cluster }} \
  -e FSID={{ fsid }} \
  -e MON_PORT={{ ceph_mon_container_listen_port }} \
  -e CEPH_PUBLIC_NETWORK={{ public_network | regex_replace(' ', '') }} \
  -e CEPH_DAEMON=MON \
  -e CONTAINER_IMAGE={{ ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }} \
  {{ ceph_mon_docker_extra_env }} \
  {{ceph_docker_registry }}/{{ ceph_docker_image }}:{{ ceph_docker_image_tag }}
{% if container_binary == 'podman' %}
ExecStop=-/usr/bin/sh -c "/usr/bin/{{ container_binary }} rm -f `cat /%t/%n-cid`"
{% else %}
ExecStop=-/usr/bin/{{ container_binary }} stop ceph-mon-%i
{% endif %}
ExecStopPost=-/bin/rm -f /var/run/ceph/{{ cluster }}-mon.{{ monitor_name }}.asok
KillMode=none
Restart=always
RestartSec=10s
TimeoutStartSec=120
TimeoutStopSec=15
{% if container_binary == 'podman' %}
Type=forking
PIDFile=/%t/%n-pid
{% endif %}

[Install]
WantedBy=multi-user.target
